.about_item{
	h2 {
		text-align: left;
		@include rhythm-padding(3,2);
		@include rhythm-margins(0,0);
	}
}


.chooser_element__photo {
	overflow: hidden;
}


.chooser_element__photo-wrapper {
	@include rhythm-margins(0,1);
	@include transition(box-shadow);
	width: 78px;
	height: 78px;
	margin-left:15px;
	text: center;
	position: relative;

	&:hover{
		box-shadow: 3px 3px 32px 7px $color-shadow;
	}

	&:active{
		border: 2px solid $color-shadow;
	}

	img{
		height: 100%;
	}
}

.devicephoto_colorchooser{
	@include rhythm-margins(0.75,0.75);
	display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.colorchooser{
	height: 28px;
	width: 28px;
	border-radius:	50px;
	border: 5px solid 	$light-color-step3;		
	float:left;
	padding-right:17px;
}

.colorchooser_black{
 	background-color: $gray-darker;
 	margin-right:17px;


 	&:active{
 		border: 5px solid 	$gray-darker;
 	}
}

.colorchooser_white{ 
	background-color: $white;
	
 	&:active{
 		border: 5px solid 	$white;
 	}
}

.helpforchoosing{
	@include rhythm-margins(2,1.5);
}

.description-content {
	@include rhythm-margins (2.5,2.5);
	display: none;

	&.is-active {
		display: block;
	}
}

.filter-stripe__wrapper{
	background-color: $gray-color-step1;	
}

.filter-stripe__inner{
 	background-color: $light-color-step3;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-stripe__price{
	padding-right:30px;
	font-size: $font-size-h3;
}

.description_atribute{
	text-align:left;
	text-transform:uppercase;
	font-size:$font-size-large;
}


.description_atribute__text{
	@include rhythm-margins (0,1.5);
	text-align:left;

}