.about_item{
	h2 {
		text-align: left;
		@include rhythm-padding(3,2);
		@include rhythm-margins(0,0);
	}
}


.chooser_element__photo {
	overflow: hidden;
	//position: absolute;
	//top:50%;
	//left:50%;

}


.chooser_element__photo-wrapper {
	width: 80px;
	height: 80px;
	margin-left:15px;
	@include rhythm-margins(0,0.75);
	text: center;

	@include transition(box-shadow);
	position: relative;

	&:hover{
		box-shadow: 3px 3px 32px 7px $color-shadow;
	}

	&:active{
		border: 2px solid $color-shadow;
	}
}

.devicephoto_colorchooser{
	display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.colorchooser{
	height: 28px;
	width: 28px;
	border-radius:	50px;
	border: 5px solid 	$light-color-step3;		
}

.colorchooser_black{
 	background-color: $gray-darker;

 	&:active{
 		border: 5px solid 	$gray-darker;
 	}
}

.colorchooser_white{ 
	background-color: $white;
	
 	&:active{
 		border: 5px solid 	$white;
 	}
}

.filter-stripe__wrapper{
	background-color: $gray-color-step1;	
}

.filter-stripe__inner{
 	background-color: $light-color-step3;
	display: flex;
    flex-direction: row;
    align-items: center;
}


.description_atribute{
	text-align:left;
	text-transform:uppercase;
	font-size:$font-size-large;
}


.description_atribute__text{
	text-align:left;
}