
.projects{

	@include rhythm-margins(4,4);

	h2{
		@include rhythm-margins(0,2);
	}
}

.projects__item-photo {
	overflow: hidden;
	display: flex;
}

.projects__item-photo-wrapper {
	@include transition(box-shadow);

	@media(max-width: $tablet) {
		float:left;
	}


	img {
		//transition: transform .4s ease;
		@include transition(transform);
	}

	&:hover {
		
		box-shadow: 3px 3px 32px 7px $color-shadow;

		img {
			transform: scale(1.2);
		}
	}
}
