/***************************************************/
/* Set custom or change third-party SASS variables */
/***************************************************/


/* Typography */
$base-font: 'Open Sans';
$base-weight: 300;


	
$font-size-base:             16px;
$font-size-h1:               52px; //4em -это 60 пересчитать
$font-size-h2:               38px; //2.5em
$font-size-h3:               24px; //1.5em
$font-size-large:            20px;
$font-size-small:            12px;

$font-size-link:             16px;
$font-size-menu-link:        16px;
$line-height-base:           1.5em;


$font-size-button: 			 14px;
$font-size-ads:            24px;


/* Colors */
$white              : #fafafa;
$blue               : #276c80;
$cyan               : #2fa0a9;
$main               : $white;
$gray-darker        : darken($main, 88.24);

$light-color-step1  : $white;
$light-color-step2  : darken($main, 1.57);
$light-color-step3  : darken($main, 5.88);
$gray-color-step1   : darken($main, 11.37);
$gray-color-step2   : darken($main, 39.22);
$gray-color-step3   : darken($main, 68.24); //for text top_header
$gray-color-step4   : darken($main, 18.82); //for footer



//colors for index blocks
$color-accent1: $cyan;
$color-accent-dark: $blue;


$color-shadow: rgba(0,0,0,0.13);


$color-text-accent: $cyan;
$color-text-white: $white;
$color-text-black: $gray-darker;
$color-text-gray: $gray-color-step3;

$color-text-nav_top: $gray-color-step2;       //color for phone and profile
$color-text-nav_bottom: $gray-color-step3;     //color for main menu
$color-text-nav_hover: $color-text-black;
$color-text-filter:	$gray-color-step3;   //color fo filter block

$color-topnav-bg: $light-color-step1;
$color-bottomnav-bg: $light-color-step2;
$color-filter-bg: $light-color-step3;
$color-footer-bg:$gray-color-step4;
$color-arrow-bg:$light-color-step3;

//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $light-color-step2;
//** Global text color on `<body>`.
$text-color:            $gray-darker;

//** Global textual link color.
$link-color:            $cyan;
//** Link hover color set via `darken()` function.
$link-hover-color:      $gray-darker;





/* Media Queries Breakpoints */
$bp: (
        mobile     :  320px,
        tablet     :  768px,
        tablet-land:  960px,
        desktop    : 1280px,
        wide       : 1440px
);

$mobile: 320px;
$tablet: 768px;
$tablet-land: 960px;
$desktop: 1280px;
$desktop-lg: 1440px;


/* fonts for media */



/* Sizes */



