.apps_descr{
	text-align: center;
}

.appswebpanel{
	background-color: $gray-color-step1;
	@include rhythm-padding(3.2,4.5);
}

.badge_buttons{
	height:53px;
	width: 169px;

	@media (min-width: $desktop) {
		max-width:120px;
	}
}

.appsbtns{

	display: inline-block;
	width:580px;

	a{
		display: inline-block;
	}
}

.appsbtns_container{
	@include rhythm-padding(1.5,0);
}

.appspicture{
	@include rhythm-padding(3,3);
}

.apps_text{
 	@include rhythm-padding(1.5,1.5);
 	text-align: center;
}