.bottom_header{
	background-color:$light-color-step1; 
	color:$color-text-nav_bottom;
	background-color:$light-color-step1; 
}

.filter {
      background-color: $gray-color-step1;
	   display: flex;
    flex-direction: row;
    align-items: center;
}


.filter-stripe__wrapper {
  background-color: $gray-color-step1;  
}

.filter-stripe__inner {
  background-color: $gray-color-step1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


    .filter__item-sublist {
  transition: opacity 0.25s ease;
  text-decoration: none;
  padding: 24px 22px;
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color:$gray-color-step1; 
}

.filter-stripe__info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.filter-stripe__price {
  display: inline-block;
  margin-right: 20px;
}


.main-nav{
	float: right;
	text-decoration: none;
	//display: inline-block;
	display: flex;
    flex-direction: row;
    align-items: center;
	z-index: 1;
    color:$color-text-nav_bottom;
    text-transform: uppercase;
	list-style:none;


	&__list {
    	font-size: $font-size-menu-link;
    	text-decoration: none;
    	color: $color-text-nav_bottom;
    	position: relative;
    	list-style: none;
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	margin: 0;
	}

	&__link {
    	font-size: $font-size-menu-link;
   		text-transform: uppercase;
    	text-decoration: none;
    	color: $color-text-nav_bottom;
	}
}

.filter__item {
    display: inline-block;
    padding: 24px 22px;
	position: relative;
	cursor: pointer;

    &:hover {
		color:$color-text-nav_hover;
			.filter__item-sublist {
				opacity: 1;
				z-index: 1;
			}
    }

		&.is-active {
			border-bottom: 1px solid pink;
		}

}