.page-footer{

	@include rhythm-padding(3, 3);	
	background-color: $color-footer-bg;
 
 		.page-footer__inner{
 			display: flex;
		    flex-direction: row wrap;
		    align-items: flex-start;
		    flex-flow: row wrap;
 		}
		.page-footer__subcolumn__tag{
				@include rhythm-margins(0, 1);
		}

		.tag__link{
				text-decoration: none;
				text-transform: uppercase;
				color: $gray-color-step2;

			&:hover{
				color: $light-color-step3;
			}
		}
	}

.footer_tags{
	
	@media (min-width: $tablet){
		display:block;
	}

	@media (max-width: $tablet){
		display:none;
	}
}

.footer_contacts{
	
	@media (min-width: $tablet){
		display:block;
	}
	@media(max-width:$tablet){
		display:none;
	}
}

.social{
	
	@media(max-width:$tablet){
		display:block;
	}

	@media(min-width:$tablet){
		display:flex;
		flex-direction: row wrap;
    	align-items: flex-start;
    	flex-flow: row wrap;
	}
}

.page-footer_contacts__item	{
	display:block;
}

.address_footer{
	padding-bottom: 23px;
}

.page-footer__sociallinks-wrapper {
	padding-bottom: 45px;
}

.sociallinks_link {
	color: $gray-color-step2;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid $gray-color-step2;
    border-radius: 50px;

    i {
    	position: absolute;
    	top: 55%;
    	left: 50%;
    	font-size:24px;
    	transform: translate(-50%, -50%);
    }

	&:hover{
		color: $gray-color-step1;
		 border: 1px solid $gray-color-step1;
	}
}

.copyright{
	font-size: $font-size-large;
	color: $gray-color-step2;
	text-align: center;
	padding-left: 20px;
}


.contacts_item__text, .contacts_item__icon,  {
	color:$gray-color-step2;
}

.contacts_item__icon{
	font-size: $font-size-large;
}

.contacts_item__text{
	font-size:$font-size-base;
}



.colmn-1{
	padding-right: 0;
	padding-left: 0;
}