.page-footer{

	@include rhythm-padding(3, 3);	
	background-color: $color-footer-bg;
 
 		.page-footer__inner{
 			display: flex;
		    flex-direction: row wrap;
		    align-items: flex-start;
		    flex-flow: row wrap;
 		}
		.page-footer__subcolumn__tag{
				@include rhythm-margins(0.58, 0.58);
		}

		.tag__link{
				text-decoration: none;
				text-transform: uppercase;
				color: $gray-color-step2;

			&:hover{
				color: $light-color-step3;
			}
		}
	}

.sociallinks_link {
	color: $gray-color-step2;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid $gray-color-step2;
    border-radius: 50px;

    i {
    	position: absolute;
    	top: 53%;
    	left: 48%;
    	font-size:24px;
    	transform: translate(-50%, -50%);
    }

	&:hover{
		color: $gray-color-step1;
	}
}

.copyright{
	font-size: $font-size-large;
	color: $gray-color-step2;
}


.contacts_item__text, .contacts_item__icon,  {
	color:$gray-color-step2;
}

.contacts_item__icon{
	font-size: $font-size-large;
}

.contacts_item__text{
	font-size:$font-size-base;
}