.page-footer{

	@include rhythm-padding(3, 3);	
	background: $color-footer-bg;
 
 		.page-footer__inner{
 			display: flex;
		    flex-direction: row wrap;
		    align-items: flex-start;
		    flex-flow: row wrap;
 		}
		.page-footer__subcolumn__tag{
				@include rhythm-margins(0.58, 0.58);
		}

		.tag__link{
				text-decoration: none;
				text-transform: uppercase;
				color: $gray-color-step2;

			&:hover{
				color: $gray-color-step2;
			}
		}
	}

.sociallinks_link {
	color: $gray-color-step4;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid $gray-color-step4;
    border-radius: 50px;

    i {
    	position: absolute;
    	top: 53%;
    	left: 48%;
    	transform: translate(-50%, -50%);
    }

	&:hover{
		color: $gray-color-step4;
	}
}