/* Scss Document */
div.top_header {
    @include rhythm-padding(0.5, 0.5);
    background-color: $light-color-step3;
    color: $color-text-nav_top;
    display: none;

    @media (min-width: $desktop) {
        display: block;
    }
}

.bottom_header {
    background-color: $light-color-step1;
    color: $color-text-nav_bottom;
    background-color: $light-color-step1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav_bottom {
    background-color: $light-color-step1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.nav_bottom__burger {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 38px;
    height: 38px;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;

    @media (min-width: $desktop) {
        display: none;
    }
}

.nav_bottom__burger-icon {
    width: 38px;
    height: 4px;
    background-color: $gray-darker;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 38px;
        height: 4px;
        background-color: $gray-darker;
        border-radius: 50px;
    }

    &:before {
        top: -10px;
    }

    &:after {
        top: 10px;
    }
}

.nav_bottom__icons {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    align-items: center;

    div {
        padding: 10px;
    }

    @media (min-width: $tablet) {
        display: flex;
        flex-flow: row nowrap;
    }

    @media (min-width: $desktop) {
        display: none;
    }
}

.nav_bottom__basket-icon {
    width: 40px;
    height: 40px;
}

.top_header__left {
    float: left;
    padding-left: 0;
}

.top_header__right {
    float: right;
    padding-right: 0;
    display: flex;
}

.profile-block {
    margin-left: auto;
}

.user_profile {
    padding-left: 8px;
    padding-right: 42px;
}

.site-logo {
    float: left;
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 18px;

    .logo {
        height: 39px;
        width: 151px;
        display: none;

        @media (min-width: $tablet) {
            display: inline-block;
        }
    }

    .logo-small {
        width: 32px;
        height: 32px;

        @media (min-width: $tablet) {
            display: none;
        }
    }
}

.main-nav-mobile__list {
    transition: transform .3s ease;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: $white;
    z-index: 999;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;

    &.is-active {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-nav-mobile__item {
    padding-bottom: 10px;
}

.main-nav-mobile__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.main-nav {
    float: right;
    text-decoration: none;
    //display: inline-block;
    display: flex;
    //flex-direction: row;
    align-items: center;
    z-index: 1;
    color: $color-text-nav_bottom;
    text-transform: uppercase;
    list-style: none;
    margin-left: auto;

    &__list {
        font-size: $font-size-menu-link;
        text-decoration: none;
        color: $color-text-nav_bottom;
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    &__link {
        @include transition(color);
        font-size: $font-size-menu-link;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text-nav_bottom;
    }

    &__link-icon {
        display: inline-block;
        position: relative;
        width: 45px;
        height: 35px;
    }
}

.main-nav__item {
    display: inline-block;
    padding: 24px 22px;
    position: relative;

    &:hover {
        .main-nav__link {
            color: $gray-darker;
        }

        .main-nav__item-sublist {
            opacity: 1;
            z-index: 1;
        }
    }

}

.cart_icon {
    margin: 0;
    padding: 5px 0 14px 0;

    .icon_cart_image {
        position: absolute;
        top: 10px;
        width: 46px;
        height: 34px;
    }

}

.main-nav__item-sublist {
    transition: opacity 0.25s ease;
    text-decoration: none;
    padding: 24px 22px;
    opacity: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    background-color: $light-color-step1;
}
