.help_searchdead{
	background: url("../img/help_header.png");
	background-size: cover;
	background-position: center;
	text-align: center;

	h2{

		@include rhythm-padding(2.2, 1.2);
		@include rhythm-margins(0, 0);

	}
}



.search_input {
  @include transition(transform);
  padding: 14px;
  border: 2px solid $white;
  border-radius: 5px 0 0 5px;
  min-width: 400px;
  outline:none;
}
	
.search_input__wrapper {
  display: flex;
  flex-flow: row nowrap;
  @include rhythm-padding(0, 4);


  .btn {
    border-radius: 0 5px 5px 0;

    &:hover {
      transform: none;
      opacity: .8;

      .search_input {
        opacity: .8;

      }
    }
  }
}


.help_icons {
	@include rhythm-padding(3,3);
	background: url("../img/support-desktop.png");
	background-size: cover;
	background-position: center;
	text-align: center;
}


.help_icon__circle{
	width:99px;
	height:99px;
	border-radius: 50px;
	border: 2px solid $color-text-accent;
	text-align:center;
	position: relative;
	display: block;
}

.circle_image{
	width:39px;
	height: 39px;
	fill:$color-text-accent;
	position: absolute;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.help_icon__text{
	text-align: center;
}


.help_icon__column{
	display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.b-docs__item-ttl {
 text-transform: uppercase;
 cursor: pointer;
}

.b-docs__sublist {
 display: none;
}



ul, li {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.container_tabs-wrapper {
 display: flex;
 flex-flow: row nowrap;
 //border-right: 2px solid p
}

.tabs {
 width: 20%;
 background-color: $light-color-step3;
 @include rhythm-padding(1, 1);
}

.tabs__item {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding:15px;
	transition: all .4s ease;
	cursor: pointer;
	 
	 &.is-active {
	  border-bottom: 2px solid $color-accent1;
	  padding-bottom: 15px;
	 }
	}

.content {
 width: 80%;
}

.b-content__list {
 display: none;
 
 &.is-active {
  display: block;
 }
}

.b-content__item-ttl {
 padding: 18px 20px;
 cursor: pointer;
 border-bottom: 1px solid #ddd;
 position: relative;
}

.b-content__arrow {
 transition: all .4s ease;
 position: absolute;
 width: 20px;
 height: 20px;
 top: 40%;
 right: 20px; 
 transform: translateY(-50%) rotate(-135deg);
 border-top: 1px solid $color-accent1;
 border-left: 1px solid $color-accent1;
 
 &.is-active {
  transform: translateY(-50%) rotate(45deg);
  top: 55%;
 }
}

.b-content__sublist {
 display: none;
}

.b-content__subitem {
 list-style-type: disc;
 margin-left: 50px;
 padding-top: 10px;
}
