/* Scss Document */

.news_promo__inner {
    @include rhythm-padding(3.33, 3.33);
}

.news_promo {
    background: url(../img/adds_subscription.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.news_promo__mail {
    @include transition(transform);
    padding: 14px;
    border: 2px solid $white;
    border-radius: 5px;
    min-width: 320px;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
        border-radius: 5px 0 0 5px;
        min-width: 400px;
        margin-bottom: 0;
    }
}

.news_promo__mail-wrapper {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: $tablet) {
        flex-flow: row nowrap;
    }

    .btn {
        border-radius: 5px;

        @media (min-width: $tablet) {
            border-radius: 0 5px 5px 0;
        }

        &:hover {
            transform: none;
            opacity: .8;

            .news_promo__mail {
                opacity: .8;

            }
        }
    }
}

