.steps {
    text-align: center;
}

.steps_inner {
    @include rhythm-padding(4, 4);
}

.steps_inner_header {
    margin-bottom: 80px;
}

.steps_inner__item {
    position: relative;
    border-left: 2px solid #000;
    padding-bottom: 40px;
    text-align: left;

    @media (min-width: $tablet-land) {
        padding-left: 100px;
    }

    &:last-child {
        border: none;
        padding-bottom: 0;
    }
}

.steps_inner__counter {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    top: 0;
    left: -20px;
    border: 2px solid #000;
    border-radius: 50px;
    width: 38px;
    height: 38px;

    &::before {
        counter-increment: counter;
        content: counter(counter);
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
        top: 50%;
    }
}

.steps_item {
    font-size: $font-size-ads;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feature {

    @include rhythm-padding(4);
    text-align: center;

    .feature__title {
        @include rhythm-margins(0.75);
    }

    &:hover {
        background-color: $color-accent-dark;
        @include rhythm-padding(4);

        .feature__text {
            display: inline-block;
            font-size: $font-size-small;
            color: white;
            @include rhythm-margins(0);
        }

        .feature__title {
            color: white;
        }
    }
}

.steps_inner__bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;

    // > li:before {
    //   counter-increment: counter;
    //   content: counter(counter);
    // }
}

.steps_inner__bullet--a {
    position: relative;

    li {
        // &:before {
        //   position: relative;
        //   display: inline-block;
        //   z-index: 100;
        //   border: 2px solid $color-accent1;
        //   text-align: center;
        //   color: $color-accent1;
        //   width:34px;
        //   height: 34px;
        //   border-radius: 50%;
        //   counter-increment: counter;
        //   content: counter(counter);
        // }

        // &:after {
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   z-index: 90;
        //   left: 20px;
        //   margin-left: 30px;
        //   border-left: 2px solid $color-accent1;
        //   content: "";
        // }

        &:last-child:before {
            margin-bottom: 0;
        }
    }
}