.steps {
    text-align: center;
}

.steps_inner {
    @include rhythm-padding(4, 4);
}

.steps_inner_header {
    margin-bottom: 80px;
}

.steps_inner__item {
    position: relative;
    border-left: 2px solid $color-accent1;
    padding-bottom: 40px;
    text-align: left;

    @media (min-width: $tablet-land) {
        padding-left: 100px;
    }

    &:last-child {
        border: none;
        padding-bottom: 0;
    }
}

.steps_inner__counter {
    position: absolute;
    background-color: $main;
    padding: 5px;
    top: 0;
    left: -20px;
    border: 2px solid $color-accent1;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    color:$color-accent1;

    &::before {
        counter-increment: counter;
        content: counter(counter);
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
        top: 50%;
    }
}

.steps_item {
    font-size: $font-size-ads;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feature {

    @include rhythm-padding(4);
    text-align: center;

    .feature__title {
        @include rhythm-margins(0.75);
    }

    &:hover {
        background-color: $color-accent-dark;
        @include rhythm-padding(4);

        .feature__text {
            display: inline-block;
            font-size: $font-size-small;
            color: white;
            @include rhythm-margins(0);
        }

        .feature__title {
            color: white;
        }
    }
}

.steps_inner__bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;
}

.steps_inner__bullet--a {
    position: relative;

    li {

        &:last-child:before {
            margin-bottom: 0;
        }
    }
}